body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Boogaloo', cursive;
    color: #819745;
    background-color: #fbd79e;
    background-image: url('img/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    background-color: black;
}

